body {
	margin: 0 auto;
	background-color: #FAFAFA;
}

header {
	background-color: rgb(14, 171, 243);
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}

textarea {
	width: 70%;
	height: 4em;
	color: #4E4D53;
	font-size: 15px;
	padding: 1em;
	border-radius: 1em;
	border: none;
    margin: 0 auto;
}

/* Estilos botón agregar */
#btn {
	background-color: rgb(14, 171, 243);
	border: 0px;
	cursor: pointer;
	text-align: center;
	margin: 3em auto;
	width: 130px;
	height: 30px;
	display: block;
	color: #FFF;
}